@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%; 
  
    .sidebar {
      flex: 0 0 auto; 
      z-index: 1000;
      background-color: #333;
      width: 100%;
    }
  
    .main-system {
      flex: 1;
      background-color: $body-color;
      overflow-y: auto;
      padding-left: 100px;
      padding-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  