$primary-color: #FFB6C1;
$text-color: #555555;
$secondary-color: #ffb6c1cb;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;

$body-color: #E4E9F7;
$sidebar-cor: #FFF;
$cor-primaria: #FFB6C1;
$cor-primaria-clara: #F6F5FF;
$toggle-color: #F6F5FF;
$cor-texto: #707070;
$hover-botao: #ffb6c1cb;
$complementar: #FFC6D9;
$heading-color: #333;