@import "../../../styles/variables.scss";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 290px;
  padding: 10px 14px;
  background-color: $sidebar-cor; /* Certifique-se de que esta variável esteja definida em variables.scss */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.1);
  transition: width 0.4s ease, box-shadow 0.3s ease;

  .sandwich {
    transform: translateX(-5px);
    transition: transform 0.3s ease;
  }
}

.sidebar.close {
  width: 88px;

  .icon {
    transform: translateX(-10px);
    transition: transform 0.3s ease;
  }

   button .icon {
    transform: translateX(-60px);
    transition: transform 0.3s ease;
   }

  .sandwich {
    transform: translateX(10px);
  }

  button {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.4s ease;
    background-color: $sidebar-cor;

    .icon {
      position: relative;
      left: 35px;
    }
  }
}

.sidebar .texto {
  font-size: 16px;
  font-weight: 500;
  color: $cor-texto;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .texto {
  opacity: 0;
}

.sidebar li {
  height: 50px;
  margin: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  min-width: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li .icon,
.sidebar li .texto {
  color: $cor-texto;
  transition: color 0.2s ease;
}

.sidebar header {
  position: relative;
}

.sidebar .imagem-texto img {
  width: 60px;
  border-radius: 6px;
}

.sidebar header .imagem-texto {
  display: flex;
  align-items: center;
}

.sidebar .imagem-texto .header-texto {
  display: flex;
  flex-direction: column;
}

.header-texto .salao {
  font-weight: 750;
}

.sandwich {
  font-size: 40px;
  color: $cor-primaria;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.4s ease;
}

.baixo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sidebar button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: flex-start;
  transition: all 0.4s ease;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  border: none;
}

.sidebar button .icon {
  min-width: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $cor-texto;
}

.sidebar li a:hover,
.sidebar button:hover {
  background: $cor-primaria;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .texto,
.sidebar button:hover .icon,
.sidebar button:hover .texto {
  color: $sidebar-cor;
}
