<div class="layout" (click)="closeSidebar($event)">
  <nav class="sidebar" [class.close]="isClosed">
    <header>
      <div class="imagem-texto" (click)="toggleSidebar()">
        <i class="bx bx-menu sandwich"></i>
        <div class="texto header-texto">
          <span class="salao">Perpétua Beleza e Estética</span>
        </div>
      </div>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link">
            <a href="consultarAgendamentoFuncionario">
              <i class='bx bxs-calendar icon'></i>
              <span class="texto nav-texto">Meus Agendamentos</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="consultarCliente">
              <i class='bx bx-smile icon'></i>
              <span class="texto nav-texto">Clientes</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="cancelarHorario">
              <i class='bx bx-time-five icon'></i>
              <span class="texto nav-texto">Meu horário</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="cadastrarServicoProprietaria">
              <i class='bx bx-cut icon'></i>
              <span class="texto nav-texto">Cadastrar Serviços</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="cadastroFuncionarioProprietaria">
              <i class='bx bxs-user-plus icon'></i>
              <span class="texto nav-texto">Funcionarios</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="cadastroProdutoProprietaria">
              <i class='bx bxs-package icon'></i>
              <span class="texto nav-texto">Produtos</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="meusDadosFuncionario">
              <i class='bx bx-user-circle icon'></i>
              <span class="texto nav-texto">Meus Dados</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="baixo">
      <button type="submit" id="botao" name="botao" value="Logout">
        <i class="bx bx-log-out icon"></i>
        <span class="texto nav-texto">Logout</span>
      </button>
    </div>
  </nav>
  <main class="content">
    <!-- Conteúdo principal da página -->
  </main>
</div>
